#esto es para el control de version
django==3.2.8 #https://pypi.org/project/Django/
six==1.16.0 #https://pypi.org/project/six/
psycopg2==2.9.1
# pillow==8.4.0 





# https://www.youtube.com/watch?v=vENYEEBM2pQ&list=PLxm9hnvxnn-j5ZDOgQS63UIBxQytPdCG7&index=6

#26:15 core
